@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --bg-color-header: #CDE8E5;
    --bg-color: #EEF7FF;
    --bg-color-footer: #4D869C;

    --color-white: white;

    --text-color1: #343A40;
    --text-color2: #495057;
    --text-color3: #0A3871;

    --text-color4: #518383;
    
    --fill-color: #D8DFE8;

    --primary-font: "Inter", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

header, body, footer {
    background-color: var(--bg-color);
    font-family: var(--primary-font);
    color: var(--text-color4);
}

._container__content_1_text_field {
    resize: none;
    transition-timing-function: ease-in-out;
}

._container__content_1_text_field:focus {
    outline: none !important;
    border:1px solid red;
    box-shadow: 0 0 10px #719ECE;
    transition: ease 0.2s;
}

._header {
    padding: 2% 0% 0% 2%;
    /* display: flex;
    background-color: var(--bg-color);
    background-color: var(--bg-color-header) !important; */
}

._container {
    padding: 0% 2% 0% 10%;
    gap: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

._container__content_1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

._container__content_1_text_field {
    margin-bottom: 0px;
    margin-left: 0px;
    margin-top: 0px;
    font-size: 32px;
    font-weight: 400px;
    color: var(--text-color3);
    background-color: var(--bg-color);
    border: none;
    max-width: 100%;
    padding: 3%;
    border-radius: 32px;
}
::placeholder {
    color: var(--text-color3);
}

._container__content_1__information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


._container__content_1__rule_text {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
}

._container__content_1__buttons {
    display: flex;
    gap: 3%;
}

._container__content_1__button_encrypt,
._container__content_1__button_decrypt {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 40vh;
    text-align: center;
    border: 2px solid var(--text-color3);
    border-radius: 24px;
    padding: 24px 0;
    color: var(--text-color3);
    font-size: 1.5rem;
    font-family: var(--primary-font);
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

._container__content_1__button_encrypt:hover,
._container__content_1__button_decrypt:hover {
    border:1px solid var(--bg-color-footer);
    box-shadow: 0 0 10px #719ECE;
    background-color: var(--text-color2);
    color: var(--bg-color);
    transition: ease-in-out 0.2s;
}

._container__content_2 {
    width: 30%;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

._container__content_2__text_field {
    margin: 0px 30px 0px;
    padding: 24px;
    font-size: 32px;
    font-weight: 400px;
    color: var(--text-color3);
    background-color: white;
    border: none;
    max-width: 100%;
    border-radius: 32px;
    background-image: url(/assets/bg-personagem.svg);
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    resize: none;
}

._container__content_2__text_field:focus {
    outline: none !important;
    border:1px solid red;
    box-shadow: 0 0 10px #719ECE;
    transition: ease-in-out 0.2s;
}

._container__content_2__text_field::placeholder{
    font-size: 24px;
    display: flex;
    flex-direction: row-reverse;
}

._container__content_2__text_field::placeholder {
    display: flex;
    text-align: center;
    position: fixed;
    padding-top: 60vh;
}

._container__content_2__button_copy {
    display: none;
    justify-content: center;
    width: 40vh;
    text-align: center;
    border: 2px solid var(--text-color3);
    border-radius: 24px;
    padding: 24px 0;
    color: var(--text-color3);
    font-size: 1.5rem;
    font-family: var(--primary-font);
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

._container__content_2__button_copy:hover {
    border:1px solid var(--bg-color-footer);
    box-shadow: 0 0 10px #719ECE;
    background-color: var(--text-color2);
    color: var(--bg-color);
    transition: ease-in-out 0.2s;
}
